#first-screen {
    padding: 0px 12%;
}

#first-screen > section {
    margin-bottom: 30px;
}

#empty-user-quizz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 181px;
    border: 2px dashed var(--light-grey);
}

#empty-user-quizz > p {
    max-width: 250px;
    color: var(--light-grey);
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.section-title {
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.quizz-banner {
    width: 340px;
    height: 181px;
    border-radius: 7px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.quizz-title {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.banners-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

@media screen and (max-width: 1100px) {
    #first-screen {
        padding: 0px 0px;
    }
}