#first-screen {
    padding: 0px 150px;
    max-width: 1400px;
}

#first-screen > section {
    margin-bottom: 30px;
}

#empty-user-quizz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 181px;
    border: 1px dashed var(--light-grey);
    border-radius: 5px;
    margin: 0px 10px;
}

#empty-user-quizz > p {
    max-width: 250px;
    color: var(--light-grey);
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    word-break: normal;
}

#empty-user-quizz > button {
    background-color: inherit;
    border: 1px dashed var(--st-red);
    border-radius: 20px;
    color: var(--st-red);
    font-size: 22px;
    height: 40px;
    width: 151px;
    cursor: pointer;
}

.user-quizzes-presentation-container {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0px 0px 10px 10px;
}

.section-title {
    color: black;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-right: 10px;
}

.add-icon {
    color: var(--st-red);
    font-size: 30px;
}

.banners-container {
    display: flex;
    justify-content: left;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}

.quizz-banner {
    height: 181px;
    min-width: 280px;
    max-width: 350px;
    border-radius: 7px;
    position: relative;
    margin: 10px;
    flex: 1;
    flex-wrap: wrap;
}

.quizz-title {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
    font-weight: 400;
    font-size: 18px;
}

@media screen and (max-width: 1100px) {
    #first-screen {
        padding: 0px 0px;
    }
}