#second-screen {
    margin-top: 270px;
}

.main-banner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 227px;
    top: 70px;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-banner {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.quizz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-container {
    padding: 30px;
    width: 760px;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 2px;
    box-shadow: 0px 2px 10px rgb(226, 226, 226);
    max-width: 760px;
}

.question-header {
    width: 100%;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 10px;
}

.question-header > p {
    text-align: center;
    width: 90%;
}

.answers-container {
    display: grid;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    grid-template-rows: auto;
    column-gap: 0px;
    row-gap: 15px;
    justify-content: space-between;
}

.answer-box > .img {
    min-width: 120px;
    min-height: 170px;
    margin-bottom: 8px;
}

@media screen and (max-width: 1100px) {
    .question-container {
        padding: 15px;
        width: 100%;
    }

    .answers-container {
        grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    }
}

@media screen and (max-width: 600px) {
    #second-screen {
        margin-top: 150px;
    }

    .main-banner {
        height: 150px;
        font-size: 20px;
    }

    .answer-box > .img {
        min-height: 120px;
    }
}