.quizz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-container {
    padding: 30px;
    width: 760px;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 2px;
    box-shadow: 0px 2px 10px rgb(226, 226, 226);
}

.question-header {
    width: 100%;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.answers-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.answer-box {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
}

.answer-box > img {
    width: 330px;
    height: 175px;
    margin-bottom: 10px;
}
