.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: auto;
    
}
.content h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 28px 0px 28px 0px;
}
.subtitle {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;

}

.main-step-quizz, .questions-setup, .levels-setup {
    width: 100%;
    

}

#third-screen input {
    border: solid 1px #d1d1d1;
    border-radius: 5px;
    font-style: italic;
    width: 100%;
    margin-bottom: 10px;
    padding: 3%;
    outline: none;
    word-break: break-all;
    overflow-wrap: break-word;
}


.next-step-button {
    height: 54px;
    width: 367.72px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--st-red);
    border-radius: 15px;
    text-decoration-color: #FFF5F4;
    border: none;
    color: #FFF5F4;
    font-size: 18px;
    cursor: pointer;
}

.back-to-home {
    background-color: none ;
    color: #818181;
    height: 54px;
    width: 367.72px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

/*Asks about Quizz*/



.pergunta-box, .level-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    height: 74px;
    font-size: 20px;
    margin-bottom: 22px;
    width: 100%;
    cursor: pointer;
}


@media (max-width: 1100px) {

.content{
    width: 100%;
}
.input-description {

    height: 177px;
}


}



