@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.hidden {
    display: none !important;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 70px;
    background-color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px rgb(187, 187, 187);
    position: fixed;
    top: 0;
}

header > h1 {
    text-align: center;
    font-size: 37px;
    font-weight: 700;
    color: white;
}

#app-container {
    margin-top: 70px;
}