@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('./public/screens/firstScreen.css');
@import url('./public/screens/secondScreen.css');
@import url('./public/screens/thirdScreen.css');
@import url('./public/screens/loadingScreen.css');

:root {
    --light-grey: #B9B9B9;
    --bg-grey: #FAFAFA;
    --st-red: #EC362D;
}

.hidden {
    display: none !important;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-grey);
}

p {
    word-break: break-all;/* a galera coloca uns nome non sense e precisa disso pra n quebrar o layout */
}

#app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-main-header {
    width: 100%;
    height: 70px;
    background-color: var(--st-red);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px rgb(0, 0, 0,0.5);
    position: fixed;
    top: 0;
}

.page-main-header > h1 {
    text-align: center;
    font-size: 37px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

#app-container {
    margin-top: 70px;
    padding: 40px 20px;
}

#app-container > div {
    width: 100%;
}




