@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('./screens/firstScreen.css');

@import url('./screens/thirdScreen.css');

:root {
    --light-grey: #B9B9B9;
    --st-red: #EC362D;
}

.hidden {
    display: none !important;
}

body {
    font-family: 'Roboto', sans-serif;
}

.page-main-header {
    width: 100%;
    height: 70px;
    background-color: var(--st-red);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px rgb(163, 163, 163);
    position: fixed;
    top: 0;
}

.page-main-header > h1 {
    text-align: center;
    font-size: 37px;
    font-weight: 700;
    color: white;
}

#app-container {
    margin-top: 70px;
    padding: 40px 20px;
}

#app-container > div {
    width: 100%;
}




